[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "log10-io"
version = "0.0.6"
authors = []
license = "MIT"
description = "Unified LLM data management"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/log10-io/log10"
"Bug Tracker" = "https://github.com/log10-io/log10/issues"
